# Désactiver le listage des répertoires
Options -Indexes

# Protection des fichiers sensibles
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
<FilesMatch "\.(env|sql|md|json)$">
    Require all denied
</FilesMatch>

# Protection spécifique du dossier api/migration
RewriteEngine On
RewriteRule ^api/migration(/.*)?$ - [F,L]

# MIME type pour les modules JavaScript ES6
<FilesMatch "\.js$">
    ForceType text/javascript
</FilesMatch>