# Désactiver le listage des répertoires
Options -Indexes

# Protection des fichiers sensibles
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
<FilesMatch "\.(env|sql|md|json)$">
    Require all denied
</FilesMatch>

# Protection spécifique du dossier des migrations SQL
<Directory "api/migration">
    Require all denied
</Directory>
